#canvas {
	width: 100%;
	height: 100%;
	margin: auto;
}

body {
	background-color: #636363;
}

.blipImg img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px#888;
	box-shadow: 1px 1px 5px #888;
}

.blipImg {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 13px;
	margin-top: 2px;
}

.blipContainer {
	background-color: white;
	position: absolute;
	width: 110px;
	height: 150px;
	text-align: center;
	
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px#888;
	box-shadow: 1px 1px 5px #888;
}